<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.Data" version="18.1.6" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.8.7" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="1.2.0" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="1.2.0" targetFramework="net461" />
  <package id="NUglify" version="1.5.12" targetFramework="net461" />
</packages>